# Eclipse IDE specific
.metadata/
.project
.settings/
*.launch

# Build artifacts
Debug/
Release/

# Project-specific module copies
*/modules/

# Documentation folder
doku/

# External projects copied for inspection
/Send_Data_Via_UART/
